
<footer id="footer">
  <div class="container">
    <div class="footer-left">
      <div class="footer-top">
        <ul>
          {% include "site/_menu.html" %}
        </ul>
      </div>

      <div class="footer-bottom">
        <p>© {{ now|date('Y') }} {{siteName}}. <span class="all-rights">All rights reserved.</span></p>
      </div>
    </div>

    <div class="footer-right">
      <script src="//platform.linkedin.com/in.js" type="text/javascript">
        lang: en_US;
      </script>
      <script type="IN/FollowCompany"
        data-id="1337"
        data-counter="top" />
    </div>
  </div>
</footer>
