{% extends "_layout" %} {% block content %}

<div class="standard-page">

  <div class="standard-header">
    <h2>Ordering</h2>

    <div class="standard-image"
      style="background-image: url(/images/banners/ordering.jpg)">
    </div>
  </div>

  <div class="standard-welcome">
    <h3>Guide to Ordering an Appraisal</h3>

    <div class="standard-welcome-description">

      <p>It is always best to involve an appraiser early in the process as we usually need 2 to 4 weeks to complete a typical assignment.
      </p>
    </div>
  </div>

  <div class="ordering-instructions">

    <div class="ordering-instruction-set">
      <p>Fees for a commercial appraisal are significantly higher than for a home appraisal and are based on the amount of time we think it will take to complete the assignment. Please keep in mind that if you need an appraisal for federally regulated financing, the bank or credit union has to order directly.
      </p>
    </div>

    <div class="ordering-instruction-set">
      <p>The following documents (if available) are typically requested to begin work:
      </p>

      <ul>
        <li>Environmental Phase I or II reports</li>
        <li>Title Report</li>
        <li>A list of capital expenditures over the past 5 years</li>

        <li>If proposed construction: Site Survey, Construction Documents & Budget
        </li>
        <li>If pending sale: Purchase and Sale Agreement</li>

        <li>If leased: current Rent Roll, Leases, Profit & Loss Statements for past 3 years
        </li>
      </ul>
    </div>


    <div class="ordering-instruction-set">
      <p>If engaged, we’ll send a one page service agreement for signature and request for a retainer (typically 75% if we haven’t worked with you before)
      </p>
    </div>

    <div class="ordering-instruction-set">
      <p>We’ll then set up a time to look at the property (we’re usually onsite 30 to 60 minutes) and request documents.
      </p>
    </div>

 
  </div>
</div>

{% macro errorList(errors) %}
    {% if errors %}
        {{ ul(errors, {class: 'errors'}) }}
    {% endif %}
{% endmacro %}
{% if craft.app.session.hasFlash('notice') %}
    <h2 class="message notice">{{ craft.app.session.getFlash('notice') }}</h2>
{% elseif craft.app.session.hasFlash('error') %}
    <p class="message error">{{ craft.app.session.getFlash('error') }}</p>

{% else  %}
{% set submission = submission ?? null %}

<form method="post" action="" accept-charset="UTF-8">
    {{ csrfInput() }}
    {{ actionInput('contact-form/send') }}


    <h3><label for="from-name">Your Name</label></h3>
    {{ input('text', 'fromName', submission.fromName ?? '', {
        id: 'from-name',
        autocomplete: 'name',
    }) }}
    {{ submission ? _self.errorList(submission.getErrors('fromName')) }}

    {{ input('text', 'propertyAddress', submission.propertyAddress ?? '', {
      id: 'property-address'
  }) }}
  {{ submission ? _self.errorList(submission.getErrors('propertyAddress')) }}


  {{ input('text', 'propertyAddress', submission.propertyAddress ?? '', {
    id: 'property-address'
}) }}
{{ submission ? _self.errorList(submission.getErrors('propertyAddress')) }}

    <h3><label for="from-email">Your Email</label></h3>
    {{ input('email', 'fromEmail', submission.fromEmail ?? '', {
        id: 'from-email',
        autocomplete: 'email',
    }) }}
    {{ submission ? _self.errorList(submission.getErrors('fromEmail')) }}
    <h3><label for="phone-number">Phone Number</label></h3>
    {{ input('phone', 'phoneNumber', submission.phoneNumber ?? '', {
        id: 'phone-number',
        autocomplete: 'phone',
    }) }}
    {{ submission ? _self.errorList(submission.getErrors('phoneNumber')) }}

    <h3><label for="subject">Subject</label></h3>
    {{ input('text', 'subject', submission.subject ?? '', {
        id: 'subject',
    }) }}
    {{ submission ? _self.errorList(submission.getErrors('subject')) }}

    <h3><label for="message">Message</label></h3>
    {{ tag('textarea', {
        text: submission.message ?? '',
        id: 'message',
        name: 'message',
        rows: 10,
        cols: 40,
    }) }}

    <!-- create a select group with the following options Agriculture
Healthcare
Hospitality
Industrial
Land
Manufacture Housing
Multi-Family
Office
Retail
Self-Storage
Single-Family
Special Purpose -->
<h3><label for="property-type">Property Type</label></h3>
<select name="property-type" name="propertyType">
      <option value="agriculture">Agriculture</option>
      <option value="healthcare">Healthcare</option>
      <option value="hospitality">Hospitality</option>
      <option value="industrial">Industrial</option>
      <option value="land">Land</option>
      <option value="manufacture-housing">Manufacture Housing</option>
      <option value="multi-family">Multi-Family</option>
      <option value="office">Office</option>
      <option value="retail">Retail</option>
      <option value="self-storage">Self-Storage</option>
      <option value="single-family">Single-Family</option>
      <option value="special-purpose">Special Purpose</option>
    </select>
    {{ submission ? _self.errorList(submission.getErrors('propertyType')) }}


    <button type="submit">Send</button>
</form>
{% endif %}

{% endblock %}
