{% extends "_layout" %} {% block content %}

<div class="standard-page">

  <div class="standard-header">
    <h2>Ordering</h2>

    <div class="standard-image"
      style="background-image: url(/images/banners/ordering.jpg)">
    </div>
  </div>

  <div class="standard-welcome">
    <h3>Guide to Ordering an Appraisal</h3>

    <div class="standard-welcome-description">

      <p>It is always best to involve an appraiser early in the process as we usually need 2 to 4 weeks to complete a typical assignment.
      </p>
    </div>
  </div>

  <div class="ordering-instructions">

    <div class="ordering-instruction-set">
      <p>Fees for a commercial appraisal are significantly higher than for a home appraisal and are based on the amount of time we think it will take to complete the assignment. Please keep in mind that if you need an appraisal for federally regulated financing, the bank or credit union has to order directly.
      </p>
    </div>

    <div class="ordering-instruction-set">
      <p>The following documents (if available) are typically requested to begin work:
      </p>

      <ul>
        <li>Environmental Phase I or II reports</li>
        <li>Title Report</li>
        <li>A list of capital expenditures over the past 5 years</li>

        <li>If proposed construction: Site Survey, Construction Documents & Budget
        </li>
        <li>If pending sale: Purchase and Sale Agreement</li>

        <li>If leased: current Rent Roll, Leases, Profit & Loss Statements for past 3 years
        </li>
      </ul>
    </div>


    <div class="ordering-instruction-set">
      <p>If engaged, we’ll send a one page service agreement for signature and request for a retainer (typically 75% if we haven’t worked with you before)
      </p>
    </div>

    <div class="ordering-instruction-set">
      <p>We’ll then set up a time to look at the property (we’re usually onsite 30 to 60 minutes) and request documents.
      </p>
    </div>

 
  </div>
</div>

<!-- include jotform partial -->
{% include "site/_jotform_iframe.html" %}

{% endblock %}
