{% extends "_layout" %}

{% block content %}

  <div class="standard-page">

    <div class="standard-header">
      <h2>Partners</h2>
      <div class="standard-image" style="background-image: url(/images/banners/partners.jpg)"></div>
    </div>

    <div class="standard-welcome">
      {% set interior = craft.entries.section('partnerWelcome') %}
      {% for page in interior %}
        <h3>{{page.title}}</h3>
        <div class="standard-welcome-description">
          {{page.body}}
        </div>
      {% endfor %}
    </div>

  </div>

 

    {% set partnerImageCrop = {
      width: 350,
      height: 500,
      mode: 'crop',
      position: 'center-center',
      quality: 80,
    } %}

    {% set partners = craft.entries.section('partners') %}

    <h2 style="font-size: 2.5em; margin: .5em 0;">Current Partners</h2>
    <br>
    <div class="partner-listing">
    {% for partner in partners %}
      {% if partner.memberStatus != "memberEmeritus"  %}
      {% include "site/_partner.html" %}
      {% endif %}
    {% endfor %}
    </div>

    <h2 style="font-size: 2.5em; margin: .5em 0;">Members Emeritus</h2>
    <br>

    <div class="partner-listing">
    {% for partner in partners %}
      {% if partner.memberStatus == "memberEmeritus"  %}
      {% include "site/_partner.html" %}
      {% endif %}

      {% endfor %}
 
  </div>

{% endblock %}
